<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiagnoseTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <DiagnoseTool.Properties.Settings>
            <setting name="Server3" serializeAs="String">
                <value>192.168.0.117</value>
            </setting>
            <setting name="SQLServerEngine" serializeAs="String">
                <value>MSSQLSERVER</value>
            </setting>
            <setting name="ReportServer" serializeAs="String">
                <value>ReportServer</value>
            </setting>
            <setting name="SQLAgent" serializeAs="String">
                <value>SQLServerAgent</value>
            </setting>
            <setting name="TeamViewer" serializeAs="String">
                <value>Teamviewer</value>
            </setting>
            <setting name="AudioSrv" serializeAs="String">
                <value>AudioSrv</value>
            </setting>
        </DiagnoseTool.Properties.Settings>
    </userSettings>
</configuration>